table.sudoku {
	border-collapse: collapse;
	font-family: Calibri, sans-serif;
}
.sudoku colgroup, tbody {
	border: solid medium;
}
.sudoku td {
	border: solid thin;
	height: 40px;
	width: 40px;
	text-align: center;
	padding: 0;
	font-size: 1.2em;
}